<h3>
  <em>HashCatch lets you control stuff through your regular tweets</em>
</h3>

For example, you tweet this:

<span id="top-example-tweet">
  <blockquote class="twitter-tweet"><p>#2 book is Huckleberry Finn <a href="https://twitter.com/search?q=%23HashCatch&amp;src=hash">#HashCatch</a></p>&mdash; Ben Eills (@beneills) <a href="https://twitter.com/beneills/statuses/381105085213716480">September 20, 2013</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>

and HashCatch understands you:

<%= image_tag("top-example.png", :alt => "Example Output", :id => "top-example") %>


<a id="help-try-it-now" class="link-button">Try it now!</a>

<a id="help-dismiss" class="link-button">Dismiss</a>
