<h3>
  <em>HashCatch lets you control stuff through your regular tweets</em>
</h3>

<p>
For example, you tweet this:
</p>
  <blockquote class="twitter-tweet"><p>#1 book is A Confederacy of Dunces <a href="https://twitter.com/search?q=%23HashCatch&amp;src=hash">#HashCatch</a></p>&mdash; Ben Eills (@beneills) <a href="https://twitter.com/beneills/statuses/387629624412213248">October 8, 2013</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>
  HashCatch detects the #hashcatch hashtag, understands your tweet, and adds it to your profile page: <strong>hashcatch.com/twitterusername</strong>
</p>

<%= image_tag("top-example.png", :alt => "Example Output", :id => "top-example") %>


<a id="help-try-it-now" class="link-button">Try it now!</a>

<a id="help-dismiss" class="link-button">Dismiss</a>
