<h3>
  <em>HashCatch lets you control stuff through your regular tweets</em>
</h3>

<p>
There are different HashCatch <em>applications</em> that can do stuff by interpreting your tweet.  We hope to expand our applications dramatically, using our tweet handling framework.  Check out the founder's <%= link_to "HashCatch profile", "/beneills" %> for ideas on what to tweet!
</p>

<p>
We try to make the application's syntax as natural and forgiving as possible, so you can tweet like you usually do.  everyone sees you tweet as they do now, but instead of being buried in a timeline somewhere, the tweet is given semantic meaning and stored in your profile.
</p>

<p>
All you have to do is add <strong>#hashcatch</strong> (or <strong>#hc</strong> for short).
</p>

<p>
  <em>No signing up.  No logging in.  Just tweeting.</em>
</p>
