/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 *
 *= require purecss
 */


body {
    font-family: "Source Sans Pro"; // TODO
}

/* header */
header {
    margin-bottom: 3em;
}

header #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* container */
#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
footer {
    margin-top: 3em;
//    text-align: center;
//    position: absolute;
//    bottom:0;
//    width: 100%;
}

#about-link {
    display: block;
    float: right;
}


/* #footer-right { */
/*     position: absolute; */
/*     right: 0; */
/* } */

/* #footer-centre { */
/*     text-align: center; */
/*     position: relative */
/* } */

/* links */
a, a:visited {
    color: #0084B4;
}

