/* Color Definitions */

$blue1: #7878E4;
$green1: #2FC25E;

$linkColor: #0084B4;

$color1: #6E86D6;
$color2: #A8BDFF;
$color3: black;
$color4: black;


$textColor: #111;

$grey1: #CCC;
$grey2: #EEEEFF;
$grey3: #DDDDFF;



/* Color Assignments */
$rowOdd: $grey2;
$rowEven: white;

$headerColor: $green1;
$footerColor: $headerColor;

$helpColor: $blue1;

$tweetColor: $textColor;
$tweetMatchColor: black;



$applicationBackgroundColor: $grey2;
$applicationBorderColor: $grey1;

$subApplicationBackgroundColor: $grey3;
$subApplicationBorderColor: $grey1;
