// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import "globals.css.scss";

html, body {
    height: 100%;
}

body {
    font-family: "Source Sans Pro";
}

header {
    text-align: right;
    margin-bottom: 3em;
}

header #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



header > h1 {
    $margin-y: 0.1em;
    display: inline-block;
    font-size: 5em;
    margin: {
	top: $margin-y;
	bottom: $margin-y;
    }
}

#header-break {
    margin-bottom: 0;
}

#help {
    overflow: hidden;
}

#help-text {
//    display: none;
   overflow: hidden;
//    height: 10px;
    background-color: $helpColor;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
//    box-shadow: inset rgba(255,255,255,1) 0px -10px 10px;
    box-shadow: 0px 5px 5px $helpColor;
    margin-bottom: 5px;
//    border-bottom-right-radius: 5px;
 //   border-bottom-left-radius: 5px;
    border-radius: 10px;
}

#help-text-inner {
    margin: 10px;
    border-radius: 50px;
}

#test {
    display: inline-block;
}

#arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
};

#index-body {
    margin: 1em;
}

#recent-list {
    list-style: none;
}

#recent-list li {
    font-size: 1.2em;
    padding: 8px;
    overflow: hidden;
    border-radius: 5px;
}

#recent-list li { background-color: $rowEven;}
#recent-list li:nth-child(odd) { background: $rowOdd; }

#recent-list .username {
    display: inline-block;
    width: 15em;
}

// Tweet input
#tweet-body {
    float: left;
    height: 28px; // match tweet button
    width: 50%;
//    border-bottom-color: #1ab7ea; fade to twitter color TODO
}

#tweet-body-expander {
    display:table;
    width: 100%;
}

#tweet-body {
    display: table-cell;
    width: 100%;
}
#test {
    display: table-cell;
    width: 148px;
}
.twitter-hashtag-button {
    float: right;
}


footer {
//    text-align: center;
//    position: absolute;
//    bottom:0;
//    width: 100%;
}


#footer-right {
    position: absolute;
    right: 0;
}

#footer-centre {
    text-align: center;
    position: relative
}

.content {
    display: block;
}

.noDown {
    display: block;
}

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

#help-dismiss {
    cursor: pointer;
    float: right;
}


#top-example-tweet {
//    display: inline-block;
//    margin-left: auto;
//    margin-right: auto;
}

#top-example {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;

//    display: inline-block;
//    margin-left: auto;
//    margin-right: auto;
}
