// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import "globals.css.scss";

/* help */
#help {
    display: none;
    overflow: hidden;
    background-color: $helpColor;
    min-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: 0px 5px 5px $helpColor;
    margin-bottom: 5px;
    border-radius: 10px;
}

#help h3 {
    font-size: 1.5em;
}

#help-dismiss {
    cursor: pointer;
}

#help-show {
    cursor: pointer;
}


#welcome-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

// recent Posts
#recent {
    float: left;
    width: 600px;
}

#recent-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#recent-list li {
    font-size: 1.2em;
    padding: 8px;
    overflow: hidden;
    border-radius: 5px;
}

#recent-list li { background-color: $rowEven;}
#recent-list li:nth-child(odd) {
    background: $rowOdd;
    border: 1px solid $grey1;
}

#recent-list .user {
    display: block;
    min-width: 10em;
    float: left;
}

#recent-list .profile_image {
    display: block;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
}

#recent-list .username {
    display: inline-block;
}

#recent-list .tweet {
    display: inline-block;
//    float: right;

    color: $tweetColor;
}

#recent-list .tweet .regexp_match {
    color: $tweetMatchColor;
}

// Right
#right {
    background-color: $rowOdd;
    float: right;
    width:350px;
    padding: 8px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid $grey1;
}

#right img {
    background-color: white;
    padding: 3px;
    border: 1px solid $grey1;
}

// Tweet input
#tweet-body {
    float: left;
    height: 28px; // match tweet button
    width: 50%;
}

#tweet-body-expander {
    display:table;
    width: 100%;
    margin-bottom: -5px; // TODO - hack
}

#tweet-body {
    display: table-cell;
    width: 100%;
}


#test {
//    display: inline-block;
}


#test {
    display: table-cell;
    width: 148px;
}
.twitter-hashtag-button {
    float: right;
}


#help-dismiss {
    cursor: pointer;
    float: right;
}


#top-example-tweet {
//    display: inline-block;
//    margin-left: auto;
//    margin-right: auto;
}

#top-example {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;

//    display: inline-block;
//    margin-left: auto;
//    margin-right: auto;
}
